<div class="section-blog-header wf-section">
  <div class="page-padding">
    <div class="container-large">
      <div class="w-layout-grid hero-content-wrapper is-about">
        <div class="hero-content">
          <h2 class="blog_hero-header">Terms of Use</h2>
          <p class="blog_hero-paragraph text-size-large">Grow Your wealth</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-hero-image-wrapper">
    <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%20Shape.png"
      loading="lazy" sizes="(max-width: 1440px) 100vw, 1440px" srcset="
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-500.png   500w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-800.png   800w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-1080.png 1080w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%20Shape.png          1440w
      " alt="" class="blog-hero-image" /><img
      src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c9cc626f6892168134dcf6_blog%20hero%20brand%20mobile.png"
      loading="lazy" alt="" class="blog-hero-mobile-image" />
  </div>
</div>

<section class="pricing section-padding-100-70">
  <div class="container">
    <!-- <div class="section-heading text-center">
      <h2 class="d-blue bold fadeInUp" data-wow-delay="0.3s">Privacy Policy</h2>
    </div> -->
    <div class="">
      <h5>
        Please read the following rules carefully before signing in.<br /><br />

        You agree to be of legal age in your country to partake in this program,
        and in all the cases you must be 18 years and above.<br /><br />

        frontstandonline is available to the general public and is opened
        only to the qualified members, the use of this site is restricted to our
        members and to individuals personally invited by them. Every deposit is
        considered to be a private transaction between frontstandonline and
        its Member.<br /><br />

        As a private transaction, this program is covered by the US Securities
        Act of 1933, the US Securities Exchange Act of 1934 and the US
        Investment Company Act of 1940 and all other rules, regulations and
        amendments thereof.<br /><br />
        You agree that all information, communications, materials coming from you to
        frontstandonline are genuine,fronstandonline will keep this information confidential
        and protected from any disclosure. Moreover, the information,
        communications and materials contained herein are not to be regarded as
        an offer, nor a solicitation for investments in any jurisdiction which
        deems non-public offers or solicitations unlawful, nor to any person to
        whom it will be unlawful to make such offer or solicitation.<br />
        <br />

        All the data giving by a member to frontstandonline will be only
        privately used and not disclosed to any third parties. frontstandonline
        is not responsible or liable for any loss of data.<br /><br />
        You agree to hold all principals and members harmless of any liability.
        You are investing at no risk and you agree that a past performance is
        not an explicit guarantee for the same future performance. You agree
        that all information, communications and materials you will find on this
        site will be of help for your investment.<br />
        <br />

        <br />

        We reserve the right to change the rules, commissions and rates of the
        program at any time and at our sole discretion with investors notice,
        especially in order to respect the integrity and security of the
        members' interests. You agree that it is your sole responsibility to
        review the current terms. <br />
        <br />

        frontstandonline is responsible or liable for any damages, losses
        and costs resulting from any violation of the conditions and terms
        and/or use of our website by a member. You guarantee to frontstandonline
        that you will not use this site in any illegal way and you agree to
        respect your local, national and international laws.<br /><br />

        Don't post bad vote on Public Forums and at Gold Rating Site without
        contacting the administrator of our program FIRST. Maybe there was a
        technical problem with your transaction, so please always CLEAR the
        thing with the administrator.<br /><br />

        We will not tolerate SPAM or any type of UCE in this program. SPAM
        violators will be immediately and permanently removed from the
        program.<br /><br />

        frontstandonline reserves the right to accept or decline any member for
        membership without explanation.<br /><br />

        If you do not agree with the above disclaimer, please do not go any
        further.
      </h5>
    </div>
  </div>
</section>