<div class="section-blog-header wf-section">
  <div class="page-padding">
    <div class="container-large">
      <div class="w-layout-grid hero-content-wrapper is-about">
        <div class="hero-content">
          <h2 class="blog_hero-header">Contact Us</h2>
          <p class="blog_hero-paragraph text-size-large">Mail: hello@frontstandonline.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-hero-image-wrapper">
    <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%20Shape.png"
      loading="lazy" sizes="(max-width: 1440px) 100vw, 1440px" srcset="
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-500.png   500w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-800.png   800w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-1080.png 1080w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%20Shape.png          1440w
      " alt="" class="blog-hero-image" /><img
      src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c9cc626f6892168134dcf6_blog%20hero%20brand%20mobile.png"
      loading="lazy" alt="" class="blog-hero-mobile-image" />
  </div>
</div>