<div class="about-us-page">
  <div class="about-us-hero-image-wrapper">
    <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17c1671fce5f_img.png" loading="lazy"
      sizes="100vw" srcset="
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17c1671fce5f_img-p-500.png 500w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17c1671fce5f_img.png       589w
      " alt="" class="about-us-hero-image" /><img
      src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17fc491fce07_Mask%20group.png"
      loading="lazy" alt="" class="about-us-mobile-image" />
  </div>
  <section class="section-about-us-hero">
    <div class="page-padding">
      <div class="padding-vertical padding-custom-aboutabout">
        <div class="container-large">
          <div class="w-layout-grid hero-content-wrapper is-about">
            <div class="hero-content">
              <h1>High-touch wealth management meets modern technology</h1>
              <p class="text-size-large margin-top margin-medium">
                Axiocapitals is the first to offer both the guidance of an
                experienced advisor and an elegant, easy-to-use platform – for a
                truly comprehensive approach to managing significant wealth.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-about-us-investors">
    <div class="page-padding">
      <div class="padding-vertical">
        <div class="container-large">
          <h2 class="heading-small heading-investors">
            Axiocapitals is backed by
          </h2>
          <ul aria-label="investors list" role="list" class="investors_list investors_component">
            <li class="investors_image-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17a8931fce7d_bessemer4x.svg"
                loading="lazy" width="101" alt="" class="investor-image" />
            </li>
            <li class="investors_image-wrapper">
              <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1790b61fce7c_kholsa4x.svg"
                loading="lazy" width="150" alt="" class="investor-image" />
            </li>
            <li class="investors_image-wrapper">
              <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1704591fce7b_moneta4x.svg"
                loading="lazy" width="150" alt="" class="investor-image" />
            </li>
            <li class="investors_image-wrapper">
              <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17d0a41fce7a_context4x.svg"
                loading="lazy" width="106" alt="" class="investor-image" />
            </li>
            <li class="investors_image-wrapper">
              <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1752241fce79_cotax4.svg"
                loading="lazy" width="150" alt="" class="investor-image" />
            </li>
            <li class="investors_image-wrapper">
              <img
                src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f177ced1fce78_massmutual4x.svg"
                loading="lazy" width="150" alt="" class="investor-image" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section-about-us-values">
    <div class="page-padding">
      <div class="padding-vertical padding-large">
        <div class="container-large">
          <div class="values-component">
            <h2 class="heading-medium">What sets us apart</h2>
            <ul data-w-id="ebf4bb7e-33cf-f589-57c7-3bc9b936b626" role="list" class="values-list">
              <li data-w-id="ebf4bb7e-33cf-f589-57c7-3bc9b936b627" class="values-list_item">
                <div style="
                    opacity: 1;
                    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  " class="line-divider is-values _1"></div>
                <div style="
                    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    opacity: 1;
                    transform-style: preserve-3d;
                  " class="values-list-wrapper _1">
                  <div class="values-list-left">
                    <div class="values-list_number">
                      <div class="heading-large">01</div>
                    </div>
                  </div>
                  <div class="values-list-right">
                    <img
                      src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f179cc31fcdb4_ripple%201.svg"
                      loading="lazy" alt="" class="values-list_icon" />
                    <div class="values-list_content">
                      <h3 class="heading-large">Radically honest guidance</h3>
                      <div class="text-size-large margin-top margin-medium">
                        We empower our advisors to give clear, unbiased advice
                        about what’s best for you — not push products you don’t
                        need.
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="values-list_item">
                <div style="
                    opacity: 1;
                    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  " class="line-divider is-values _2"></div>
                <div style="
                    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    opacity: 1;
                    transform-style: preserve-3d;
                  " class="values-list-wrapper _2">
                  <div class="values-list-left">
                    <div class="values-list_number">
                      <div class="heading-large">02</div>
                    </div>
                  </div>
                  <div class="values-list-right">
                    <img
                      src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1751551fcdc2_ripple%202.svg"
                      loading="lazy" alt="" class="values-list_icon" />
                    <div class="values-list_content">
                      <h3 class="heading-large">Cutting-edge technology</h3>
                      <div class="text-size-large margin-top margin-medium">
                        We’re building the world’s most advanced wealth
                        management technology, so our clients get better advice
                        and greater transparency.
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li data-w-id="472febfd-e2ab-503b-354d-a284e93d891c" class="values-list_item">
                <div style="
                    opacity: 1;
                    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  " class="line-divider is-values _3"></div>
                <div style="
                    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    opacity: 1;
                    transform-style: preserve-3d;
                  " class="values-list-wrapper _3">
                  <div class="values-list-left">
                    <div class="values-list_number">
                      <div class="heading-large">03</div>
                    </div>
                  </div>
                  <div class="values-list-right">
                    <img
                      src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f179a2d1fcdbd_ripple%204.svg"
                      loading="lazy" alt="" class="values-list_icon" />
                    <div class="values-list_content">
                      <h3 class="heading-large is-values-list">
                        Advancing the industry
                      </h3>
                      <div class="text-size-large margin-top margin-medium">
                        Our advisors come to Axiocapitals with both deep industry
                        experience and a passion for setting a new standard for
                        the wealth management experience.
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-about-us-founders wf-section">
    <div class="page-padding">
      <div class="padding-vertical padding-large">
        <div class="absolute-image_wrapper bottom-left hide-mobile-landscape">
          <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1718e41fce66_founder%20img.jpg"
            loading="lazy" sizes="100vw" srcset="
              https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1718e41fce66_founder%2520img-p-500.jpeg 500w,
              https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1718e41fce66_founder%20img.jpg          710w
            " alt="Brad Genser and Taylor Matthews Axiocapitals Co-Founders" class="absolute-image is-technology" />
        </div>
        <div class="container-large sticky-wrapper">
          <div class="layout1_component is-founders">
            <div class="spacer">
              <div id="w-node-_3e2a9b9b-fbfd-df5d-5c19-cb5bedf784cc-85ce9fa3"
                class="layout1_content-left desktop-hidden">
                <img
                  src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62d59aef8246227069b9ce32_founder%20mobile.jpg"
                  loading="lazy" alt="" class="absolute-image is-founder" />
              </div>
            </div>
            <div class="max-width-medium">
              <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f178a221fce28_quote.svg"
                loading="lazy" alt="" class="quotation_image" />
              <h3 class="is-quote">
                We are building the future of our industry by marrying
                cutting-edge technology with human expertise and judgment, so
                they bring out the best in each other: dramatically improving
                the wealth management experience for both advisors and clients.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-cta wf-section" style="margin-top: 100px">
    <div class="page-padding">
      <div class="padding-vertical padding-large">
        <div class="container-large">
          <div class="cta-wrapper is-gradient-blue">
            <div class="film-grain-overlay-wrapper"></div>
            <div class="content-wrapper is-cta">
              <h2>Together, we'll make your wealth standout</h2>
              <p class="paragraph-with-button">
                Connect with us to start your financial planning journey.
              </p>
              <div class="get-started-button-wrapper modal_component hide-mobile-landscape">
                <a role="button" id="w-node-_6a2d2ce1-92c6-e28c-5434-c53507d47245-07d47244"
                  data-w-id="6a2d2ce1-92c6-e28c-5434-c53507d47245" href="#"
                  class="button modal-open_btn is-get-started w-button">Get Started</a>
                <div aria-label="Fill out the form" role="dialog" modal="true"
                  class="get-started-modal_component modal-wrapper" style="display: none">
                  <div class="get-started-modal_container">
                    <a aria-label="close" role="button" fs-scrolldisable-element="enable"
                      data-w-id="b10aabc9-c932-b024-cde8-1464ee265788" href="#"
                      class="custom-leadership-button modal-close_btn is-get-started w-inline-block"></a>
                    <div class="get-started-modal_content-wrapper">
                      <div id="w-node-_6a2d2ce1-92c6-e28c-5434-c53507d4724c-07d47244" class="form-block w-form">
                        <div id="w-node-_6a2d2ce1-92c6-e28c-5434-c53507d4724d-07d47244" class="get-started-modal_left">
                          <h2 class="heading-xlarge">
                            Your financial future starts here
                          </h2>
                          <p class="get-started-modal_text">
                            Simply fill out this commitment-free form to begin.
                            We look forward to getting to know you.
                          </p>
                        </div>
                        <form id="wf-form-Get-Started-Hubspot-Form" name="wf-form-Get-Started-Hubspot-Form"
                          data-name="Get Started Hubspot Form" method="get" class="get-started-modal_form"
                          data-wf-page-id="64837cd2f3b2bad085ce9fa3"
                          data-wf-element-id="6a2d2ce1-92c6-e28c-5434-c53507d47252"
                          aria-label="Get Started Hubspot Form" data-hs-cf-bound="true">
                          <div class="form-field-wrapper">
                            <label for="first-name" class="form-label">First name*</label><input type="text"
                              class="form-input w-input" maxlength="256" name="First-Name" data-name="First Name"
                              placeholder="" id="first-name" required="" />
                          </div>
                          <div class="form-field-wrapper">
                            <label for="last-name" class="form-label">last name*</label><input type="text"
                              class="form-input w-input" maxlength="256" name="Last-Name" data-name="Last Name"
                              placeholder="" id="last-name" required="" />
                          </div>
                          <div class="form-field-wrapper">
                            <label for="email" class="form-label">email address*</label><input type="email"
                              class="form-input w-input" maxlength="256" name="Email-Address" data-name="Email Address"
                              placeholder="" id="email" required="" />
                          </div>
                          <div class="form-field-wrapper">
                            <label for="phone" class="form-label">phone number*</label><input type="text"
                              class="form-input w-input" maxlength="256" name="Phone-Number" data-name="Phone Number"
                              placeholder="" id="phone" required="" />
                          </div>
                          <div class="form-field-wrapper">
                            <label for="zip-code" class="form-label">zip code*</label><input type="text"
                              class="form-input w-input" maxlength="256" name="Zip-Code" data-name="Zip Code"
                              placeholder="" id="zip-code" required="" />
                          </div>
                          <div class="form-field-wrapper">
                            <label for="investment-asset-select" label-for="investment-asset-select"
                              class="form-label">Investable Asset LEvel*</label><select name="Investable-Asset-Level"
                              data-name="Investable Asset Level" required="" id="investment-asset-select"
                              class="get-started_select w-select">
                              <option value="">Select Asset Level</option>
                              <option value="< $500,000">&lt; $500,000</option>
                              <option value="$500k - $1M">$500k - $1M</option>
                              <option value="$1M - $5M">$1M - $5M</option>
                              <option value="$5M+">$5M+</option>
                            </select>
                          </div>
                          <div id="w-node-_6a2d2ce1-92c6-e28c-5434-c53507d47273-07d47244"
                            class="form-field-wrapper is-checkbox-wrapper">
                            <div class="heading-xsmall">
                              What are your biggest concerns when it comes to
                              managing your wealth?
                            </div>
                            <div class="get-started_checkbox-wrapper">
                              <label class="w-checkbox form-checkbox is-get-started">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom form-checkbox-icon">
                                </div>
                                <input type="checkbox" name="Tax-Strategies" id="Tax-Strategies"
                                  data-name="Tax Strategies" style="
                                    opacity: 0;
                                    position: absolute;
                                    z-index: -1;
                                  " /><span for="Tax-Strategies" class="form-checkbox-label w-form-label">Tax
                                  Strategies</span>
                              </label><label class="w-checkbox form-checkbox is-get-started">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom form-checkbox-icon">
                                </div>
                                <input type="checkbox" name="Retirement" id="Retirement" data-name="Retirement" style="
                                    opacity: 0;
                                    position: absolute;
                                    z-index: -1;
                                  " /><span for="Retirement" class="form-checkbox-label w-form-label">Retirement</span>
                              </label><label class="w-checkbox form-checkbox is-get-started">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom form-checkbox-icon">
                                </div>
                                <input type="checkbox" name="Equity-Compensation" id="Equity-Compensation"
                                  data-name="Equity Compensation" style="
                                    opacity: 0;
                                    position: absolute;
                                    z-index: -1;
                                  " /><span for="Equity-Compensation" class="form-checkbox-label w-form-label">Equity
                                  Compensation</span>
                              </label><label class="w-checkbox form-checkbox is-get-started">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom form-checkbox-icon">
                                </div>
                                <input type="checkbox" name="Education" id="Education" data-name="Education" style="
                                    opacity: 0;
                                    position: absolute;
                                    z-index: -1;
                                  " /><span for="Education" class="form-checkbox-label w-form-label">Education</span>
                              </label><label class="w-checkbox form-checkbox is-get-started">
                                <div class="w-checkbox-input w-checkbox-input--inputType-custom form-checkbox-icon">
                                </div>
                                <input type="checkbox" name="Business-Planning" id="Business-Planning"
                                  data-name="Business Planning" style="
                                    opacity: 0;
                                    position: absolute;
                                    z-index: -1;
                                  " /><span for="Business-Planning" class="form-checkbox-label w-form-label">Business
                                  Planning</span>
                              </label>
                            </div>
                          </div>
                          <div id="w-node-_6a2d2ce1-92c6-e28c-5434-c53507d4728b-07d47244"
                            class="button-wrapper is-get-started">
                            <input type="submit" value="Submit" data-wait="Please wait..."
                              class="button is-form-submit w-button" />
                          </div>
                        </form>
                        <div class="get-started-success w-form-done" tabindex="-1" role="region"
                          aria-label="Get Started Hubspot Form success">
                          <div class="get-started-success-content">
                            <div class="heading-xlarge">Thank You</div>
                            <div class="get-started-success-text">
                              You're all set! A Axiocapitals team member will
                              reach out to you soon.
                            </div>
                          </div>
                        </div>
                        <div id="w-node-_6a2d2ce1-92c6-e28c-5434-c53507d47293-07d47244"
                          class="error-message is-get-started heading-eyebrow w-form-fail" tabindex="-1" role="region"
                          aria-label="Get Started Hubspot Form failure">
                          <div>
                            Oops! Something went wrong while submitting the
                            form.
                          </div>
                        </div>
                      </div>
                      <div class="get-started_image-wrapper desktop-hidden">
                        <img
                          src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1745ae1fce69_Ripple-tinified.png"
                          loading="lazy" alt="" class="get-started_image" />
                      </div>
                    </div>
                    <div class="get-started_image-wrapper hide-mobile-landscape">
                      <img
                        src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1745ae1fce69_Ripple-tinified.png"
                        loading="lazy" alt="" class="get-started_image" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-wrapper">
                <a role="button" href="/get-started" class="button is-get-started desktop-hidden w-button">Get
                  started</a>
              </div>
            </div>
            <div class="cta-lottie-wrapper">
              <div class="cta-lottie" data-w-id="1b402a5d-6e3e-ff9d-4d31-d6e0c0ff181b" data-animation-type="lottie"
                data-src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62d1a3c6d65873716e84c958_220715_Footer.json"
                data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
                data-default-duration="4" data-duration="0">
                <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17c1671fce5f_img.png"
                  loading="lazy" sizes="100vw" srcset="
                  https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17c1671fce5f_img-p-500.png 500w,
                  https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17c1671fce5f_img.png       589w
                " alt="" class="about-us-hero-image" /><img
                  src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17fc491fce07_Mask%20group.png"
                  loading="lazy" alt="" class="about-us-mobile-image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
