@import "../../../../assets/css/farther.scss";

@media (max-width: 577px) {
  .welcome-meter {
    display: none;
  }
}

.nexo-notice em {
  font-weight: 400 !important;
  font-size: 12.5px;
}

.alert-dismissible {
  padding: 10px !important;
}

.nexo-notice {
  width: 100%;
  height: 46px;
  position: relative;

  z-index: 199;
  z-index: 20000;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 16px;
  background-color: #313131;
  color: #fff;
  transform: translateY(0);
  transition: 0.3s all ease;
  a {
    color: white !important;
  }
}

@media only screen and (max-width: 61em) {
  .nexo-notice {
    font-size: 13px;
    padding: 0 45px;
    line-height: 1;
    line-height: 1.5;
    font-size: 12px;
  }
}

.nexo-notice img {
  margin: 0 0 0 3px;
  max-height: 16px;
  top: 2px;
  position: relative;
}

@media only screen and (max-width: 61em) {
  .nexo-notice img {
    max-height: 16px;
  }
}

.nexo-notice .notice-cta {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 7px 11px 5px !important;
  border-radius: 3px;
  border: 0;
  text-align: center;
  box-shadow: 0 1px 3px 1px rgba(24, 28, 32, 0.15);
  transition: 0.3s all ease;
  height: 28px;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  background: #45a401;
  margin-left: 16px;
}

@media only screen and (max-width: 61em) {
  .nexo-notice .notice-cta {
    font-size: 9px;
    margin-left: 7px;
    letter-spacing: -0.3px;
    padding: 8px 6px 5px !important;
    overflow: hidden;
    min-width: 150px;
  }
}

.nexo-notice .notice-cta i {
  display: inline-block;
  background: #20bcff;
  border-radius: 20px;
  padding: 4px 2px 4px 3px;
  text-align: center;
  font-size: 9px;
  width: 17px;
  height: 17px;
  position: relative;
  top: -1.5px;
  margin-left: 3px;
}

@media only screen and (max-width: 61em) {
  .nexo-notice .notice-cta i {
    margin-left: 6px;
    font-weight: 700;
    display: none;
  }
}

.nexo-notice .nexo-notice-holder {
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: 0.3s all ease;
}

.nexo-notice a {
  border-bottom-color: transparent;
  border-bottom: none;
  display: flex;
  text-decoration: none !important;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nexo-notice a:hover {
  border-bottom-color: #fff;
  border-bottom-color: #fff;
  text-decoration: none !important;
  border-bottom: none;
}

.nexo-notice a:hover .notice-cta {
  background: #45a401;
}

.nexo-notice strong {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nexo-notice strong {
  font-weight: 700;
}

.nexo-notice span {
  text-decoration: underline;
}

.nexo-notice em {
  font-style: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom-color: transparent;
  transition: 0.2s all ease;
}

.nexo-notice:hover em {
  text-decoration: underline;
}

.nexo-notice .nexo-notice-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
}
