
<div class="container-fluid ws-help">
  <div class="container">
    <div class="text-center">
      <h1>Promo</h1>
      <h3>Offers</h3>
      <img
        src="https://britchain.io/assets/img/faq.jpeg"
        class="help-img"
        alt=""
        srcset=""
      />
    </div>
  </div>
</div>

<div class="container ws-faq" style="margin-top: 50px;">
  <!--h2 class="text-center">FAQs</h2-->
  <div class="content-wrapper is-50split">
    <div class="margin-top margin-small">
      <p class="featured-press_paragraph">
        We will be paying our investors 4 times the deposit they
        made starting from $1000 upwards, that is to say if you
        invest 1000 dollars you will get 4000 dollars as your payout
        and so on.
        <br />
        <br />
        Any Deposit above 3000 dollars is considered a Premuim
        which is entitled to x4 and additional 5000 dollars(Note:
        the Commission pro offer is only for deposit above 3000
        dollars)
        <br />
        <br />
        Any Deposit above 10000 dollars is considered a Quality pro
        which is entitled to x4 and additional 15000 dollars(Note:
        the Quality pro offer is only for deposit above 10000 dollars)
      </p>
    </div>

  </div>
</div>
