<div class="section-blog-header wf-section">
  <div class="page-padding">
    <div class="container-large">
      <div class="w-layout-grid hero-content-wrapper is-about">
        <div class="hero-content">
          <h2 class="blog_hero-header">Promo Outlook</h2>
          <p class="blog_hero-paragraph text-size-large">Grow Your wealth</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-hero-image-wrapper">
    <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%20Shape.png"
      loading="lazy" sizes="(max-width: 1440px) 100vw, 1440px" srcset="
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-500.png   500w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-800.png   800w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%2520Shape-p-1080.png 1080w,
        https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc56a1c193441_Brand%20Shape.png          1440w
      " alt="" class="blog-hero-image" /><img
      src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c9cc626f6892168134dcf6_blog%20hero%20brand%20mobile.png"
      loading="lazy" alt="" class="blog-hero-mobile-image" />
  </div>
</div>
<div data-animation="default" data-collapse="none" data-duration="400" data-easing="ease" data-easing2="ease"
  role="banner" class="blog_navbar w-nav">
  <div class="page-padding is-blog-nav">
    <nav role="navigation" class="blog_nav-menu w-nav-menu">
      <a href="#promo" class="blog-navbar_link first w-nav-link">Promo</a>
    </nav>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-2"></div>
</div>
<div class="page-padding" id="promo" style="margin-bottom: 30px">
  <div class="padding-top padding-xhuge">
    <div class="container-large">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <a data-w-id="66ee6ffb-5368-839f-ef55-a63d300dfc8b" routerLink="/promo" target="_blank"
              class="feature-press-wrapper is-gradient-sage w-inline-block">
              <div class="film-grain-overlay-wrapper is-radius"></div>
              <div class="featured-press-image-wrapper">
                <img
                  src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62c8eadc707bc5fbff193445_Brand%20Shape2.png"
                  loading="lazy" alt="" class="feature-press-image" />
              </div>
              <div class="content-wrapper is-50split">
                <div class="margin-bottom margin-small">
                  <div class="heading-eyebrow">Promo</div>
                </div>
                <h2>Frontstand Offers</h2>
                <div class="margin-top margin-small">
                  <p class="featured-press_paragraph">
                    We will be paying our investors 4 times the deposit they
                    made starting from $1000 upwards, that is to say if you
                    invest 1000 dollars you will get 4000 dollars as your payout
                    and so on.
                    <br />
                    <br />
                    Any Deposit above 3000 dollars is considered a Premuim
                    which is entitled to x4 and additional 5000 dollars(Note:
                    the Commission pro offer is only for deposit above 3000
                    dollars)
                    <br />
                    <br />
                    Any Deposit above 10000 dollars is considered a Quality pro
                    which is entitled to x4 and additional 15000 dollars(Note:
                    the Quality pro offer is only for deposit above 10000 dollars)
                  </p>
                </div>
                <div style="
                    transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  " class="press_arrow w-embed">
                  <svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M9.37189 7.39929C8.8196 7.39957 8.37166 7.84752 8.37138 8.3998C8.3711 8.95209 8.81859 9.39957 9.37087 9.39929L20.7762 9.39348L7.57676 22.593C7.18623 22.9835 7.18623 23.6167 7.57676 24.0072C7.96728 24.3977 8.60045 24.3977 8.99097 24.0072L22.4064 10.5918L22.4002 22.8298C22.3999 23.3821 22.8474 23.8296 23.3997 23.8293C23.9519 23.829 24.3999 23.3811 24.4002 22.8288L24.4075 8.39163C24.4078 7.83934 23.9603 7.39186 23.408 7.39214L9.37189 7.39929Z"
                      fill="currentColor"></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>