<div class="page-wrapper">
  <div data-animation="default" data-collapse="none" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar_component w-nav" style="
      border-color: rgba(2, 17, 42, 0.1);
      will-change: background;
      background-color: rgb(255, 254, 244);
    ">
    <div class="navbar_container w-container">
      <a href="/" aria-current="page" class="brand w-nav-brand w--current" aria-label="home">
        <div id="w-node-afbba3e8-9d90-52c0-643c-b9b81d60f638-1d60f638" class="w-embed">
          <img src="../../../../assets/images/images-removebg-preview.svg" width="46" height="30" alt="" />
        </div>
      </a>
      <div class="navbar-right-wrapper">
        <nav role="navigation" class="navbar_menu w-nav-menu">
          <a routerLink="/about" class="navbar_link w-nav-link" style="max-width: 1338px">About Us</a><a
            routerLink="/contact" class="navbar_link w-nav-link" style="max-width: 1338px">Contact Us</a><a
            routerLink="/terms" class="navbar_link w-nav-link" style="max-width: 1338px">Terms of use</a>
          <a routerLink="/citizenship" class="navbar_link is-last w-nav-link" style="max-width: 1338px">Citizenship by
            Investment</a>
          <a routerLink="/login" class="navbar_link is-last w-nav-link" style="max-width: 1338px">sign in</a>
          <div class="get-started-button-wrapper modal_component hide-mobile-landscape">
            <a role="button" id="w-node-_6a2d2ce1-92c6-e28c-5434-c53507d47245-07d47244"
              data-w-id="6a2d2ce1-92c6-e28c-5434-c53507d47245" href="/signup"
              class="button modal-open_btn is-get-started w-button">Get Started</a>
          </div>
        </nav>
      </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
  </div>

  <div data-animation="default" data-collapse="small" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar_component is-mobile w-nav" style="
      border-color: rgba(30, 44, 65, 0.09);
      will-change: background;
      background-color: rgba(255, 254, 245, 0.886);
    ">
    <div class="navbar_container w-container">
      <a href="/" aria-current="page" class="brand w-nav-brand w--current" aria-label="home">
        <div id="w-node-afbba3e8-9d90-52c0-643c-b9b81d60f638-1d60f638" class="w-embed">
          <img src="../../../../assets/images/images-removebg-preview.svg" width="46" height="30" alt="" />
        </div>
      </a>
      <a aria-label="navigation menu" role="button" data-w-id="98cad2f3-0ced-5210-0143-a19aff84c95e" (click)="tog()"
        class="modal-open_btn mobile-nav w-inline-block"><img
          src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f174e681fcdb0_menu.svg"
          loading="lazy" alt="" /></a>

      <!-- Mobile -->
      <nav aria-label="main navigation" role="dialog" aria-modal="true" class="custom-nav_modal modal-wrapper">
        <a aria-label="close navigation" role="button" data-w-id="98cad2f3-0ced-5210-0143-a19aff84c961" (click)="tog()"
          class="custom-leadership-button mobile-nav w-inline-block"><img
            src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f17b2861fcdcf_farther%20white%20close%20X.svg"
            loading="lazy" alt="" /></a>
        <div class="custom-nav_container" style="opacity: 1">
          <div class="custom-nav_menu">
            <a href="/" aria-current="page" class="custom-nav_brand mobile-nav w-inline-block w--current">
              <div id="w-node-afbba3e8-9d90-52c0-643c-b9b81d60f638-1d60f638" class="w-embed">
                <img src="../../../../assets/images/logo_white.png" width="46" height="30" alt="" />
              </div>
            </a><a (click)="tog()" routerLink="/about" class="custom-nav_link">About</a><a (click)="tog()"
              routerLink="/contact" class="custom-nav_link">contact</a><a (click)="tog()" routerLink="/terms"
              class="custom-nav_link">Terms of use</a>
            <a routerLink="/citizenship" (click)="tog()" class="custom-nav_link">Citizenship by
              Investment</a>
            <a (click)="tog()" routerLink="/login" class="custom-nav_link">login</a>

          </div>
          <div class="custom-nav_button-wrapper">
            <a (click)="tog()" role="button" data-w-id="98cad2f3-0ced-5210-0143-a19aff84c96f" routerLink="/signup"
              class="custom-nav_button w-inline-block">
              <div>Get Started</div>
              <img src="https://uploads-ssl.webflow.com/62ab7e7c514f17e3141fcd70/62ab7e7c514f1727961fcdce_Line%209.svg"
                loading="lazy" alt="" class="custom-nav_arrow" />
            </a>
          </div>
        </div>
        <div aria-hidden="true" tabindex="-1" data-w-id="98cad2f3-0ced-5210-0143-a19aff84c973"
          class="custom-nav_close-area modal-close_area"></div>
      </nav>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-3"></div>
  </div>

  <main id="main" class="main-wrapper">
    <router-outlet></router-outlet>
  </main>

  <footer class="section-footer wf-section">
    <div class="page-padding">
      <div class="container-large">
        <div class="padding-top padding-large">
          <div class="w-layout-grid footer_top-wrapper">
            <div id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfb3-7758cfae" class="footer-column">
              <div class="footer-logo-wrapper">
                <a href="#" id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfb4-7758cfae"
                  class="footer_logo-link text-color-cream w-nav-brand">
                  <img src="../../../../assets/images/logo_white.png" width="46" height="30" loading="lazy" alt="" />
                  <div class="heading-xsmall max-width-xxsmall">
                    Move your wealth forward
                  </div>
                </a>
              </div>
              <a href="mailto:hello@frontstand.com"
                class="footer_link is-email hide-mobile-landscape">hello@frontstandonline.com</a>
            </div>
            <div id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfba-7758cfae" class="footer-column is-list">
              <div id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfbb-7758cfae" class="footer_link-list">
                <div class="footer_column-heading">Company</div>
                <a routerLink="about" class="footer_link">About</a>
              </div>
              <div class="footer_link-list _2">
                <div class="footer_column-heading">Legal</div>
                <a routerLink="/terms" class="footer_link">Terms of Use</a>
              </div>
            </div>
            <div id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfcd-7758cfae" class="footer-column is-newsletter">
              <div class="div-block-3">
                <div id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfce-7758cfae" class="footer_form-block w-form">
                  <div class="footer_column-heading">Join our newsletter</div>
                  <form id="wf-form-Footer-Subscribe-Form" name="wf-form-Footer-Subscribe-Form"
                    data-name="Footer Subscribe Form" method="get" class="footer5_form"
                    aria-label="Footer Subscribe Form" data-hs-cf-bound="true">
                    <div id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfd2-7758cfae" class="footer-subscribe-wrapper">
                      <label for="Footer-subscribe-3" id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cfd3-7758cfae"
                        class="form-label">Email address</label>
                      <div class="footer-input-wrapper">
                        <input type="email"
                          class="form-input is-subscribe-footer w-node-edafce92-4cbf-d39b-93bb-1cc67758cfd6-7758cfae w-input"
                          maxlength="256" name="Footer-Subscribe" data-name="Footer Subscribe"
                          aria-label="subscribe to our newsletter" placeholder="" id="Footer-Subscribe-2"
                          required="" /><input type="submit" value="" data-wait="" aria-label="submit"
                          class="button is-footer-submit w-button" />
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>


            Address: 4057 Rainbow Road, Los Angeles. CA. 90017

          </div>

          <div class="text-center">
            <div id="ytWidget" style="width: 20px"></div>
          </div>

          <div class="line-divider is-footer"></div>
          <div class="padding-vertical padding-medium">
            <div class="footer_bottom-wrapper">
              <div class="footer_credit-text">
                Investing involves risk , But we got you covered.
              </div>
              <div id="w-node-edafce92-4cbf-d39b-93bb-1cc67758cff3-7758cfae" class="footer_credit-text">
                © Frontstand 2023
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>